<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>URL SHORTENER</h1>

    <% if (locals.id) { %>
<p>Shortened URL : http://localhost:8000/url/<%= id %></p>
<% } %>
    
    <form method="POST" action="/url">
      <label for="url">Enter the URL to shorten:</label>
      <input type="text" name="url" placeholder="http://example.com" />
      <button type="submit">Shorten</button>
    </form>
    <%if(locals.urls) { %>
    <table>
        <thead>
            <th>Sno</th>
            <th>Short URL</th>
            <th>Redirect URL</th>
            <th>viewhistory</th>

        </thead>
        <tbody>
            <% urls.forEach((url, index) => { %>
            <tr>
                <td><%= index + 1 %></td>
               <td><%= url.shortId %></td>
                <td><%= url.redirectUrl %></td>
                <td><%= url.viewHistory.length %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <% } %>
  </body>
</html>
